<img id="hubBackground" src="TeamPage.png">
<ion-header-bar class="bar-calm"><a ui-sref="hub" class="back button" ng-click="myGoBack"><i class="ion-arrow-left-c"></i></a>
      <h1 class="title">WhoStoleMyLemon</h1>
      <a ui-sref="login"class="logout button"><i class="icon ion-power"></i></a>

</ion-header-bar>

<ion-content class="padding">
	<!-- <ion-refresher pulling-text="Pull To Refresh" refreshing-text="loading..." on-refresh="loadChamp()">
	</ion-refresher> -->

	<!-- <h1 class="Sname">Lemon Beard<h1> -->
    <!-- <h1 id="Sname"><a href="#/summoner/{{data.id}}">Lemon Beardy</a><h1> -->
  
  <div class="row">
    <div class="col mh" id="playerItem"><h2>Team Comp 1</h2>
      <button class="button icon ion-arrow-down-b" ng-click="mustShow1 = ! mustShow1" ></button></div>
  </div>
  <div ng-show="mustShow1" id="detail" class="row row-center">
    <div class="col" id="playerItemDetails"><br>
      <div class="row">
    <div class="col tc">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[25].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[50].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[17].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[48].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[78].key}}.png" alt"champion image">
    </div>
  </div>
      <p>Notes:<br>Bacon ipsum dolor amet leberkas ground round kevin turkey pastrami strip steak jerky tail boudin. Porchetta fatback andouille, salami beef tail short ribs pancetta shoulder pork chop pork jowl pastrami tongue</p></div>
  </div>

  <div class="row">
    <div class="col mh" id="playerItem"><h2>Team Comp 2</h2>
      <button class="button icon ion-arrow-down-b" ng-click="mustShow2 = ! mustShow2" ></button></div>
  </div>
  <div ng-show="mustShow2" id="detail" class="row row-center">
    <div class="col" id="playerItemDetails"><br>
      <div class="row">
    <div class="col tc">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[12].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[266].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[3].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[14].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[429].key}}.png" alt"champion image">
    </div>
  </div>
      <p>Notes:<br>Bacon ipsum dolor amet leberkas ground round kevin turkey pastrami strip steak jerky tail boudin. Porchetta fatback andouille, salami beef tail short ribs pancetta shoulder pork chop pork jowl pastrami tongue</p></div>
  </div>

  <div class="row">
    <div class="col mh" id="playerItem"><h2>Team Comp 3</h2>
      <button class="button icon ion-arrow-down-b" ng-click="mustShow3 = ! mustShow3" ></button></div>
  </div>
  <div ng-show="mustShow3" id="detail" class="row row-center">
    <div class="col" id="playerItemDetails"><br>
      <div class="row">
    <div class="col tc">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[201].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[1].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[15].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[56].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[80].key}}.png" alt"champion image">
    </div>
  </div>
      <p>Notes:<br>Bacon ipsum dolor amet leberkas ground round kevin turkey pastrami strip steak jerky tail boudin. Porchetta fatback andouille, salami beef tail short ribs pancetta shoulder pork chop pork jowl pastrami tongue</p></div>
  </div>

    <div class="row">
    <div class="col mh" id="playerItem"><h2>Team Comp 4</h2>
      <button class="button icon ion-arrow-down-b" ng-click="mustShow4 = ! mustShow4" ></button></div>
  </div>
  <div ng-show="mustShow4" id="detail" class="row row-center">
    <div class="col" id="playerItemDetails"><br>
      <div class="row">
    <div class="col tc">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[112].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[98].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[6].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[245].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[267].key}}.png" alt"champion image">
    </div>
  </div>
      <p>Notes:<br>Bacon ipsum dolor amet leberkas ground round kevin turkey pastrami strip steak jerky tail boudin. Porchetta fatback andouille, salami beef tail short ribs pancetta shoulder pork chop pork jowl pastrami tongue</p></div>
  </div>

    <div class="row">
    <div class="col mh" id="playerItem"><h2>Team Comp 5</h2>
      <button class="button icon ion-arrow-down-b" ng-click="mustShow5 = ! mustShow5" ></button></div>
  </div>
  <div ng-show="mustShow5" id="detail" class="row row-center">
    <div class="col" id="playerItemDetails"><br>
      <div class="row">
    <div class="col tc">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[19].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[223].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[14].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[67].key}}.png" alt"champion image">
      <img class="champsTC" src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{Cdata.data[101].key}}.png" alt"champion image">
    </div>
  </div>
      <p>Notes:<br>Bacon ipsum dolor amet leberkas ground round kevin turkey pastrami strip steak jerky tail boudin. Porchetta fatback andouille, salami beef tail short ribs pancetta shoulder pork chop pork jowl pastrami tongue</p></div>
  </div>



</ion-content>


<!-- <ion-footer-bar class="bar-stable">
	<button id="backbutton" class="button button-calm icon-left ion-ios-list-outline" ng-click="goHome()">
	Back to Champions
	</button>
</ion-footer-bar> -->
